/* body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }
  
  body::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  } */
  html {
  background: lightgrey;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  background: whitesmoke;
  overflow: scroll;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 3em;
  font: 100%/1.4 serif;
  border: 1px solid rgba(0,0,0,0.25)
}
p {
  margin: 0 0 1.5em;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}



Resources
.bg_img {
  background-image: url("./img/busnes.jpg");
  background-repeat: repeat;
  object-fit: cover;
}

.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.inner {
  position: relative;
  left: 50px;
  top: 50px;
  height: 400px;
  width: 40vw;
  background: rgba(5, 54, 253, 255);
  overflow: hidden;
}

.image1 {
  object-fit: cover;
  opacity: 0.4;
  width: 80;
  height: inherit;
}

.image2 {
  object-fit: cover;
  opacity: 0.4;
  width: 1200px;
  height: 800px;
}

.item {
  position: relative;
  left: -55px;
  top: 50px;
  height: 800px;
  width: 200vw;
  background: rgba(5, 54, 253, 255);
  overflow: hidden;
}

.TextInContenet {
  position: relative;
  right: 800px;
  top: 200px;
}
.z_img {
  width: 44%;
  position: absolute;
  left: 602px;
  top: 957px;
}
.z-btn {
  position: absolute;
  top: 939px;
  right: 136px;
}
.z-index {
  position: absolute;
  top: 150px;
  left: 225px;
  width: 15%;
}